<div class="container">
    <div class="header-container">
        <h2>Nutritional Info</h2>
    </div>
</div>



<div class="text-center">
  <h2 class="text-white recipe-title" id="{{recipe.id}}">{{recipe.name}}</h2>
  <img src="{{recipe.image.image_link}}" alt="">
  <br>
  <br>
  
<a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" state="active" id="subtract-btn">Subtract an Ingredient</a>
<a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="false" state="inactive" id="replace-btn">Replace an Ingredient</a>
<a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="false" state="inactive" id="add-btn" data-toggle="modal" data-target="#add-modal">Add your Own Ingredient</a>

<div class="modal fade" tabindex="-1" id="add-modal" data-keyword="false" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add An Ingredient</h4>
            </div>
            <div class="modal-body" id="add-modal-body">
                <div class="d-inline-flex p-2">
                  <form>
                    <label for="input-quantity">Quantity:</label>
                    <input type="decimal" id="input-quantity" name="quantity">
                  </form>
                  <form>
                    <label for="input-measure">Measure:</label>
                    <input type="" id="input-measure" name="measure">
                  </form>
                  <form>
                    <label for="input-food">Food:</label>
                    <input type="" id="input-food" name="food">
                  </form>
                  <button class="btn btn-primary" data-dismiss="modal" type="submit" id="add-modal-btn">Add</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="replace-modal" data-keyword="false" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Replace An Ingredient</h4>
            </div>
            <div class="modal-body" id="replace-modal-body">
                <div class="d-inline-flex p-2">
                  <form>
                    <label for="input-quantity">Quantity:</label>
                    <input type="decimal" id="input-quantity" name="quantity">
                  </form>
                  <form>
                    <label for="input-measure">Measure:</label>
                    <input type="" id="input-measure" name="measure">
                  </form>
                  <form>
                    <label for="input-food">Food:</label>
                    <input type="" id="input-food" name="food">
                  </form>
                  <button class="btn btn-primary" data-dismiss="modal" type="submit" id="replace-modal-btn">Replace</button>

                </div>
            </div>
        </div>
    </div>
</div>

  <div>
    <h3>Ingredients</h3>
    <ul id="ingredient-list">
    {{#each ingredients as |ingredient|}}
      {{#if ingredient.active}}
        {{#if ingredient.original}}
        <li class="ingredient-list-element" id="ingredient-list-element-{{ingredient.id}}" style="text-decoration: none" state="active"><a  class="btn btn-primary btn-lg active" role="button" aria-pressed="false" state="active" id="ingredient-btn-{{ingredient.id}}" data-toggle="modal" >{{ingredient.text}}</a></li>
        {{else}}
        <li class="ingredient-list-element" id="ingredient-list-element-{{ingredient.id}}" style="text-decoration: none" state="active"><a  class="btn btn-info btn-lg active" role="button" aria-pressed="false" state="active" id="ingredient-btn-{{ingredient.id}}" data-toggle="modal" >{{ingredient.text}}</a></li>
        {{/if}}
      {{else}}
        {{#if ingredient.original}}
          <li class="ingredient-list-element" id="ingredient-list-element-{{ingredient.id}}" style="text-decoration: none" state="active"><a  class="btn btn-dark btn-lg active" role="button" aria-pressed="false" state="inactive" id="ingredient-btn-{{ingredient.id}}" data-toggle="modal" >{{ingredient.text}}</a></li>
        {{/if}}

      {{/if}}
    {{/each}}
    </ul>
    </div>

    <div class="recipe-row">
    <h3 class="text-center">Nutrients</h3>
      <ul id="nutrient-list" class="nutrient-list">
        <li>Calories: <span id="calories"></span></li>
        <li>Calcium: <span id="ca"></span></li>
        <li>Carbs: <span id="chocdf"></span></li>
        <li>Cholesterol: <span id="chole"></span></li>
        <li>Fat: <span id="fat"></span></li>
        <li>Iron: <span id="fe"></span></li>
        <li>Fiber: <span id="fibtg"></span></li>
        <li>Potassium: <span id="k"></span></li>
        <li>Sodium: <span id="na"></span></li>
        <li>Protein: <span id="procnt"></span></li>
        <li>Sugar: <span id="sugar"></span></li>
      </ul>
  </div>
</div>
</div>
<div>
  <span>Recipe Link: </span><a id="recipe-link" href=""></a>
</div>



<script src="\js\recipe.js"></script>
<script src="./js/favorites.js"></script>